form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.form__email{
    border: 1px solid var(--color-resaturated-red);
    border-radius: 5rem;
    margin-top: 2rem;
    outline: none;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 70%;
}

.form__email::placeholder{
    color: var(--color-resaturated-red);
    font-size: .84rem;
    padding-left: .5rem;
}

.form__error--icon{
    position: relative;
    bottom: 2.3rem;
    left: 1.5rem;

    display: none;
}

.form__arrow{
    background: var(--color-soft-red);
    border-radius: 1.5rem;
    left: 14.9rem;
    padding: .65rem 2rem;
    position: absolute;
    top: 35rem;
}

.form__error--span{
    color: var(--color-soft-red);
    font-family: var(--font-josefin);
    font-size: .7rem;
    position: absolute;
    right: 9.5rem;
    top: 39rem;

    display: none;
}



@media screen and (min-width: 1440px){
    .form__email{
        font-size: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 60%;
    }

    .form__email::placeholder{
        font-size: 1rem;
    }

    .form__error--icon{
        bottom: 2.8rem;
        left: 31rem;
        position: absolute;
        top: 38.2rem;
    }

    .form__arrow{
        border-radius: 2.5rem;
        left: 34rem;
        padding: 1.3rem 2.5rem;
        top: 36.8rem;
    }
}