main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--color-resaturated-red);
    font-family: var(--font-josefin);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .8rem;
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.span__titulo{
    color: var(--color-dark-grayish-red);
    font-weight: 600;
}

p{
    color: var(--color-resaturated-red);
    font-family: var(--font-josefin);
    font-size: .84rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    text-align: center;
    width: 80%;
}

.main__logo--desktop{
    display: none;
}



@media screen and (min-width: 1440px){
    main{
        flex-direction: row;
    }

    .container__desktop{
        padding: 1rem;
        width: 55%;
    }

    .main__logo--desktop{
        display: block;
        background-image: url(../images/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5vh;
        width: 15vw;

        position: absolute;
        bottom: 43rem;
        left: 10rem;
    }

    h1{
        font-size: 4.5rem;
        line-height: 5rem;
        margin-left: 9.5rem;
        text-align: start;
    }

    p{
        font-size: 1.07rem;
        line-height: 2rem;
        margin-left: 9.5rem;
        text-align: start;
        width: 60%;
    }
}